.friendLink {
    overflow: hidden; 
    display: inline-block; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(91% - 48px);
    padding: 10px 15px;
}
.friendItem a {
    color: blue;
}
.friendItem.active a {
    color: white;
}
.friendNavLink.active, .friendNavLink.active:hover {
    color: darkgray;
    text-decoration: none;
    cursor: default;
}
.friendNavLink {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
.friendNavLink:hover {
    color: blue;
    text-decoration: underline;
}
.places {
    line-height:1.2em;
    font-size:1em;
}
.places .placeSpace {
    height:20px;
}
#restaurantLink p {
    line-height: 2em;
}